.scale {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scale p {
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

.scale a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151C22;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    width: 200px;
    height: 64px;
    margin-top: 40px;
}

.scale .scale-empty{
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    width: 200px;
    height: 2px;
    background-color: #E5E5E5;
}


.scale .scale-comletion {
    width: 40px;
    height: 2px;
    background-color: #151C22;
}