body {
    margin: 0;
    background-color: #FFF;
}

img {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.button {
    transition-duration: 300ms;
    text-decoration: none;
}

.button:hover {
    transform: scale(1.1);
}